debug.log
*.code-workspace
debug/QuAD_Debugger/.vs/*
debug/QuAD_Debugger/Debug/*
debug/QuAD_Debugger/*.vcxproj
debug/QuAD_Debugger/*.filters
debug/QuAD_Debugger/*.user
docs/ESP8266FS-0.5.0.zip
docs/ESP8266FS-0.5.0/*
QuADRelay/.vs/*
QuADRelay/Debug/*
QuADRelay/QuADRelay.vcxproj
QuADRelay/QuADRelay.vcxproj.filters
QuADRelay/QuADRelay.vcxproj.user